<div class="container p">
    <div class="m-5 ml-4 mr-4">
        <h3 class="text-center"><b>Cập nhật thông tin tài khoản</b></h3>
        <p id="alert" style="display: block; color: red; text-align: center">{{alert}}</p>

        <form class="mt-4 formEdit" method="POST" action="/account/edit/{{user._id}}?_method=PUT" enctype="multipart/form-data">
            <div class="row">
                <div class="col-4 align-self-center justify-content-center">
                    <img class="ml-3" id="image" src="{{username.user.image}}" alt="image" width="260" height="240" style="border: 2px solid;">
                    <input type='file' class="mt-3" name="myFile" accept="image/*">
                </div>
                <div class="col-7 ml-2">
                    <div class="form-group">
                        <label for="name">Tên tài khoản:</label>
                        <input type="text" class="form-control" value="{{user.username}}" id="username" name="username">
                        <input type="text" class="form-control" value="" id="url" name="url" style="display: none;">
                    </div>
                    <div class="form-group">
                        <label for="mieuta">Giới tính:</label>
                        <select class="form-control" id="GT" name="GT">
                            <option value=""></option>
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                            <option value="Khác">Khác</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="videoID">Email:</label>
                        <input type="text" class="form-control" value="{{user.email}}" id="email" name="email" disabled>
                    </div>
                    <div class="form-group">
                        <label for="videoID">SĐT:</label>
                        <input type="number" class="form-control" value="{{user.SDT}}" id="SDT" name="SDT">
                    </div>
                    <div class="form-group">
                        <label for="videoID">Địa chỉ:</label>
                        <input type="text" class="form-control" value="{{user.address}}" id="address" name="address">
                    </div>
                    <div>
                        <input type="button" class="btn btn-success DMK" data-toggle="modal" data-target="#DMK" value="Đổi mật khẩu">
                        <button type="submit" class="btn btn-primary float-right ml-2">Lưu lại</button>
                        <input type="button" class="btn btn-danger cancel float-right" value="Quay lại">
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

{{!-- Modal change password --}}
<div class="modal fade" id="DMK">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title">Đổi mật khẩu:</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <form method="POST" action="/account/edit/password/{{user._id}}?_method=PUT">
        <div class="modal-body">
            <table class="table table-striped">
            <tr>
                <td>Nhập mật khẩu cũ (*):</td>
                <td>
                    <input type="password" name="passOld" class="passOld" id="passOld" required>
                </td>
            </tr>
            <tr>
                <td>Mật khẩu mới(*):</td>
                <td>
                    <input type="password" name="passNew" class="passNew" id="passNew" required>
                </td>
            </tr>
            <tr>
                <td>Nhập lại Mật khẩu (*):</td>
                <td>
                    <input type="password" name="passRe" class="passRe" id="passRe" required>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p id="alertPass" style="display: none;">Mật khẩu nhập lại không đúng! Vui lòng nhập lại!</p>
                </td>
            </tr>
            </table>
        </div>   
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Cập nhật</button>
        </div>
        </form>
    </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // zone khai bao
        var alert = $("#alert");
        var selectGT = $("#GT");
        var cancelForm = $(".btn.btn-danger.cancel.float-right");
        var formEdit = $(".formEdit");
        var passNew = $("#passNew");
        var passRe = $("#passRe")
        var alertPass = $("#alertPass");
        var inputFile = $("input[type=file]");
        var image = $("#image");
        //DOM value url
        var preUrl = document.referrer;
        $("#url").val(preUrl);
        console.log(preUrl);


        // DOM Gioi tinh
        selectGT.val("{{user.GT}}").change();

        // Btn cancel
        cancelForm.click(function() {

            window.history.back();
        })

        // Check Password
        $("#passNew,#passRe").keyup(function checkpassword() {
            if(passNew.val() == passRe.val()) {
                alertPass.attr('style', 'display: none');
                passRe.attr('style', false);
            } else {
                passRe.attr('style', 'border-color: red');
                alertPass.attr('style', 'display: inline; color: red');
            }
        });
        // When change image
        inputFile.change(function(e) {
            var file = inputFile.get(0).files[0];
            if(file){
              var reader = new FileReader();
              reader.onload = function(){
                  image.attr("src", reader.result);
              }
              reader.readAsDataURL(file);
            }
        })

    });
</script>