<div class="container">
  <form name="container-form" method="POST" class="mt-4" action="/courses/handle-form-actions">
    <div>
      <h3>Khóa học của tôi</h3>

      <div class="mt-4 mb-2 d-flex align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all" >
            Chọn tất cả
          </label>
        </div>
        <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
          <option value="">-- Hành động --</option>
          <option value="delete">Xóa</option>
        </select>
        <button class="btn btn-primary btn-sm check-all-submit-btn" disabled>Thực hiện</button>
        <a href="#" class="btn btn-primary btn-sm ml-auto mr-2" data-toggle="modal" data-target="#addKH" title="Thêm khóa học"><i class="fas fa-plus-circle"></i></a>
        <a href="/me/trash/courses" class="btn btn-primary btn-sm" title="Xóa khóa học"><i class="fas fa-trash-alt"></i> ({{deletedCount}})</a>
      </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th scope="col">STT</th>
                <th scope="col">Tên khóa học {{{sortable 'name' _sort}}}</th>
                <th scope="col">Miêu tả khóa học {{{sortable 'mieuta' _sort}}}</th>
                <th scope="col">Thời gian tạo  {{{sortable 'createdAt' _sort}}}</th>
                <th scope="col">Thời gian cập nhật  {{{sortable 'updatedAt' _sort}}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                  </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td class=>{{this.mieuta}}</td>
                <td class="time">{{this.createdAt}}</td>
                <td class="time">{{this.updatedAt}}</td>
                <td>
                    <a href="/me/stored/{{this._id}}/edit" class="btn btn-link">Tùy chỉnh</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-course-model" data-id="{{this._id}}">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="7" class="text-center"> Bạn chưa đăng khóa học nào!
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
  </form>
</div>

{{!-- Confirm DELETE  --}}

<div id="delete-course-model" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>

{{!-- Xac nhan xoa toan bo --}}
<div id="deleteAll-course-model" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn xóa các khóa học đã chọn này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary closeModal" data-dismiss="modal">Hủy</button>
        <button id="btn-deleteall-course" type="button" class="btn btn-danger">Thực hiện</button>
      </div>
    </div>
  </div>
</div>

{{!-- Modal thêm khóa học --}}
<div class="modal fade" id="addKH">
    <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title">Thêm khóa học:</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <form method="POST" action="/courses/store">
        <div class="modal-body">
            <table class="table table-striped">
              <tr>
                  <td width="20px"><h5>Tên khóa học:</h5></td>
                  <td>
                    <input type="text" class="form-control" id="name" name="name" required>
                  </td>
              </tr>
              <tr>
                  <td><h5>Miêu tả khóa học:</h5></td>
                  <td>
                    <textarea type="text" class="form-control" id="mieuta" name="mieuta"></textarea>
                  </td>
              </tr>
            </table>
        </div>   
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Thêm khóa học</button>
        </div>
        </form>
    </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form method="POST" name="delete-course-form"></form>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var courseId;
        var deleteForm = document.forms['delete-course-form']
        var btnDeleteCourse =  document.getElementById('btn-delete-course');
        var checkboxAll = $('#checkbox-all')
        var courseItemCheckbox = $('input[name="courseIds[]"]')
        var checkAllSubmitBtn = $('.check-all-submit-btn')
        // xoa toan bo khoa hoc
        var containerForm = $('form[name="container-form"]')
        var btnDeleteAllCourse = $('#btn-deleteall-course');
        var action = $(".checkbox-select-all-options");
        var closeModal = $(".closeModal");

        $('#delete-course-model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            courseId = button.data('id')
        })

        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE'
            deleteForm.submit();
        }

        // Checkbox all
        checkboxAll.change(function (){
          var isCheckedAll = $(this).prop('checked');
          courseItemCheckbox.prop("checked", isCheckedAll);
          renderCheckAllSubmitBtn();
        })

        // Course item checked
        courseItemCheckbox.change(function () {
          var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
          checkboxAll.prop('checked', isCheckedAll);
          renderCheckAllSubmitBtn();
        });

        // Re-render check submit all button
        function renderCheckAllSubmitBtn() {
          var checkedCount = $('input[name="courseIds[]"]:checked').length;
          if(checkedCount > 0) {
            checkAllSubmitBtn.attr('disabled', false);
          } else {
            checkAllSubmitBtn.attr('disabled', true);
          }
        }

        // change time
        var time = $(".time").map(function() {
            $(this).text(moment($(this).text()).format("D/M/yyyy hh:mm:ss"));
        }).get();

        // Xac nhan xoa toan bo khoa hoc
        checkAllSubmitBtn.on("click", function(e) {
          if (action.val() != "") {
            e.preventDefault();
            $('#deleteAll-course-model').modal('toggle');
          }
        })
        // Close modal xoa toan bo
        closeModal.on("click", function() {
          $('#deleteAll-course-model').modal('toggle');
        })
        // Xac nhan xoa
        btnDeleteAllCourse.on("click", function() {
          containerForm.submit();
        })
    })

</script>