<div class="container">
  <form name="container-form" method="POST" class="mt-4" action="/courses/handle-form-actions-trash">
      <div>
        <h3>Khóa học đã xóa</h3>

      <div class="mt-4 mb-2 d-flex align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all" >
            Chọn tất cả
          </label>
        </div>
        <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
          <option value="">-- Hành động --</option>
          <option value="delete">Xóa vĩnh viễn</option>
          <option value="restores">Khôi phục</option>
        </select>
        <button class="btn btn-primary btn-sm check-all-submit-btn" disabled>Thực hiện</button>
        <a href="/me/stored/courses" class="btn btn-primary btn-sm ml-auto mr-2" title="Danh sách khóa học"><i class="fas fa-undo"></i>  Danh sách khóa học</a>
      </div>
    </div>

      <table class="table">
            <tr>
                <th></th>
                <th scope="col">STT</th>
                <th scope="col">Tên khóa học {{{sortable 'name' _sort}}}</th>
                <th scope="col">Miêu tả khóa học {{{sortable 'mieuta' _sort}}}</th>
                <th scope="col">Thời gian tạo  {{{sortable 'createdAt' _sort}}}</th>
                <th scope="col">Thời gian cập nhật  {{{sortable 'updatedAt' _sort}}}</th>
            </tr>
          </thead>
          <tbody>
              {{#each courses}}
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                  </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.mieuta}}</td>
                <td class="time">{{this.createdAt}}</td>
                <td class="time">{{this.updatedAt}}</td>
                  <td>
                      <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                      <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-course-model" data-id="{{this._id}}">Xóa vĩnh viễn</a>
                  </td>
              </tr>
              {{else}}
              <tr>
                <td colspan="7" class="text-center">
                  Thùng rác trống! <a href="/me/stored/courses">Danh sách khóa học</a>
                </td>
              </tr>
              {{/each}}
          </tbody>
      </table>
    </form>
  </div>

  {{!-- Confirm DELETE  --}}

  <div id="delete-course-model" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xóa khóa học?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Hành động này không thể khôi phục. Bạn vẫn muốn xóa khóa học này?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
        </div>
      </div>
    </div>
  </div>

{{!-- Xac nhan xoa toan bo --}}
<div id="deleteAll-course-model" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary closeModal" data-dismiss="modal">Hủy</button>
        <button id="btn-deleteall-course" type="button" class="btn btn-danger">Thực hiện</button>
      </div>
    </div>
  </div>
</div>

  {{!-- Delete hidden form --}}

  <form method="POST" name="delete-course-form"></form>
  <form method="POST" name="restore-course-form"></form>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var courseId;
        var deleteForm = document.forms['delete-course-form']
        var restoreForm = document.forms['restore-course-form']
        var btnDeleteCourse =  document.getElementById('btn-delete-course');
        var restoreBtn = $(".btn-restore");
        // check all
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]')
        var checkAllSubmitBtn = $('.check-all-submit-btn')
        var containerForm = $('form[name="container-form"]')
        // xoa toan bo khoa hoc
        var btnDeleteAllCourse = $('#btn-deleteall-course');
        var action = $(".checkbox-select-all-options");
        var closeModal = $(".closeModal");

        $('#delete-course-model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            courseId = button.data('id')
        })
        // when btn clicked!
        btnDeleteCourse.onclick = function () {
          deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE'
          deleteForm.submit();
        }
        //restore btn click
        restoreBtn.click(function (e) {
          e.preventDefault();

          var courseId = $(this).data('id');
          restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH'
          restoreForm.submit();
        });

        // Checkbox all
        checkboxAll.change(function (){
          var isCheckedAll = $(this).prop('checked');
          courseItemCheckbox.prop("checked", isCheckedAll);
          renderCheckAllSubmitBtn();
        })

        // Course item checked
        courseItemCheckbox.change(function () {
          var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
          checkboxAll.prop('checked', isCheckedAll);
          renderCheckAllSubmitBtn();
        });

        // Re-render check submit all button
        function renderCheckAllSubmitBtn() {
          var checkedCount = $('input[name="courseIds[]"]:checked').length;
          if(checkedCount > 0) {
            checkAllSubmitBtn.attr('disabled', false);
          } else {
            checkAllSubmitBtn.attr('disabled', true);
          }
        }

        // change time
        var time = $(".time").map(function() {
            $(this).text(moment($(this).text()).format("D/M/yyyy hh:mm:ss"));
        }).get();

        // Xac nhan xoa toan bo khoa hoc
        checkAllSubmitBtn.on("click", function(e) {
          if (action.val() != "") {
            // console.log(action.val());
            var myAction;
            e.preventDefault();
            switch (action.val()) {
              case ('delete'):
                myAction = "xóa"; break;
              case ('restores'):
                myAction = "khôi phục"; break;  
              default:
                myAction = "";
            }
            $(".modal-body").html("<p>Bạn chắc chắn " + myAction + " các khóa học đã chọn này?</p>");
            $('#deleteAll-course-model').modal('toggle');
          }
        })
        // Close modal xoa toan bo
        closeModal.on("click", function() {
          $('#deleteAll-course-model').modal('toggle');
        })
        // Xac nhan xoa
        btnDeleteAllCourse.on("click", function() {
          containerForm.submit();
        })
    })
</script>